.body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color : #ffffff;
}
.main-content{
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
}
.block{
    width: 20%;
    height: 155px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(3, 15, 72);
    border-radius: 5px;
}
.block-1{
    background: red;
}
.block-2{
    background: blue;
}
.block-3{
    background: violet;
}
.block-4{
    background: green;
}
.block-5{
    background: grey;
}
.block-6{
    background: yellow;
}
.block-7{
    background: lightseagreen;
}

table{
    border-collapse: collapse;
    }td, th /* Poner borde en td y th */{
    border: 1px solid black;
}

header {
    background: rgba(5, 40, 123, 0.7);
    width: 100%;
    position: absolute;
    z-index: 100;
  }

  nav {
    float: left;
  }

  nav ul {
    list-style: none;
    overflow: hidden; 
  }

  nav ul li {
    float: left;
    font-family: Arial, Helvetica, sans-serif;;
    font-size: 20px;
  }

  nav ul li a {
    display: block; 
    padding: 20px;
    color: #fff;
    text-decoration: none;
  }

  nav ul li:hover {
    background: #eca023;
  }
